html {
  font-size: 100%;
}

body {
  background-color: #121214;
  text-align: center;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  max-width: 16rem;
  width: 16rem;
}

h1 {
  font-size: 3rem;
  margin-top: 5rem;
}

.div-pai {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.625rem;
  margin: 3rem;
}

.div-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 10rem;
  height: 12.125rem;
  padding: 0.1875rem;
  margin: 0.1875rem;
  border-radius: 0.75rem;
  overflow: hidden;
  border: 0.25rem solid transparent;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s ease, border 0.25s ease;
}

.div-1 img {
  width: 100%;
  max-width: 10rem;
  height: 100%;
  object-fit: cover;
  border: 0.25rem solid transparent;
  border-radius: inherit;
  box-sizing: border-box;
  display: block;
}

.div-1:hover .img-avatar {
  transform: scale(1.1);
  border-radius: inherit;
}

.div-1:hover span {
  color: #ffffff;
}

.add-perfil {
  background-color: #1e1e20;
  border-radius: 0.625rem;
}

.div-1:hover .svg-icon {
  color: #ececec;
  transform: rotatez(180deg);
}

.svg-icon {
  width: 100%;
  height: 100%;
  fill: #1e1e20;
  color: #6f6f70;
  transition: transform 0.7s ease;
}

span {
  color: #9c9c9c;
  font-size: 1.2rem;
}

button {
  border-style: solid;
  border-color: aliceblue;
  border-radius: 1.25rem;
  padding: 0.625rem;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media (max-width: 600px) {
  .div-pai {
    flex-direction: column;
    align-items: center;
  }
}
