/* * {
  font: ibm;
}
*/

body {
  background-color: #121214;
  text-align: center;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  max-width: 16rem;
  width: 16rem;
}

h1 {
  font-size: 3rem;
  margin-top: 5rem;
}

.div-pai {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem;
}

.div-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 160px;
  height: 194px;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid transparent;
  cursor: pointer;
  position: relative;
}

.div-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.div-1:hover {
  transform: scale(1.15);
  border: 4px solid white;
  z-index: 10;
}

.add-icon {
  width: 100%;
  height: 100%;
}

button {
  border-style: solid;
  border-color: aliceblue;
  border-radius: 20px;
  padding: 10px;
}
