/* * {
  font: ibm;
}
*/

body {
  background-color: #121214;
  text-align: center;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

#logo {
  max-width: 16rem;
  width: 16rem;
}

h1 {
  font-size: 3rem;
  margin-top: 5rem;
}

.div-pai {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem;
}

.div-1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 160px;
  height: 194px;
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid transparent;
  cursor: pointer;
  position: relative;
}

.div-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid transparent;
  border-radius: 12px;
  transition: border 0.3s ease;
}

.div-1:hover .img-avatar {
  transform: scale(1.15);
  border: 1.5px solid white;
  border-radius: 10px;
  z-index: 10;
}

.div-1:hover span {
  color: #ffffff;
}

.div-1:hover .img-add {
  fill: aqua;
}

.add-perfil {
  background-color: #1e1e20;
  border-radius: 10px;
}

.img-add {
  border-style: 5px solid white;
  width: 50%;
  height: 50%;
  color: aqua;
}

/* .add-icon {
  width: 100%;
  height: 100%;
} */

span {
  color: #9c9c9c;
}

button {
  border-style: solid;
  border-color: aliceblue;
  border-radius: 20px;
  padding: 10px;
}
