body {
  background-color: #121214;
  text-align: center;
  color: aliceblue;
}

#logo {
  max-width: 16rem;
  width: 16rem;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

h1 {
  font-size: 3rem;
  margin-top: 5rem;
}

.div-pai {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  margin: 10rem;
}

.div-1 {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
}
